<a href="https://colab.research.google.com/github/tgcsantos/SEMOV_2020/blob/master/semov_machine_learning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [3]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [8]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25,
                                                        random_state = SEED,
                                                        stratify = y)

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)
taxa_acerto = accuracy_score(teste_y, previsoes)
print(f"A taxa de acerto é {round(taxa_acerto * 100,2)}%")

A taxa de acerto é 96.0%

In [34]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [35]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [37]:
8/17

0.47058823529411764